.container {
  margin-top: 1%;
  background: rgba(255, 255, 255, 0.12);
  padding: 12px 24px;

  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: row;

  text-overflow: ellipsis;
  overflow: auto;
  white-space: nowrap;
}

.buttonWrapper {
  display: inline-block;
}

::-webkit-scrollbar {
  height: 10px;
  background: rgba(255, 255, 255, 0.12);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.16);
  border-radius: 10px;
}
/* add a media query to make "or" and the search bar to wrap under the buttons */
/* @media (max-width: 770px) {
  .container {
    overflow-x: scroll;
  }
} */
